package views

import "github.com/kovacsmar/docker-workshop/views/components"

type YoMamaJoke struct {
	Joke     string `json:"joke,omitzero,omitempty"`
	Category string `json:"category,omitzero,omitempty"`
}

templ BlockQuote(joke *YoMamaJoke) {
	<div id="joke-box">
		<blockquote class="p-4 rounded-lg text-lg text-center italic text-zinc-700 animate-fade-in">
			<span class="icon-[tabler--quote] text-base-300/20 absolute -top-3 start-2 size-16 rotate-180 rtl:rotate-0"></span>
			<div class="relative z-1">
				<p class="text-base-content text-lg">
					<em>
						if joke != nil {
							{ joke.Joke }
						}
					</em>
				</p>
			</div>
		</blockquote>
	</div>
}

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		@components.Header()
		<head>
			<script src="https://unpkg.com/htmx.org@1.9.2"></script>
		</head>
		<body class="bg-gradient-to-br from-slate-50 to-slate-200 min-h-screen flex flex-col">
			<main class="flex-grow flex items-center justify-center px-4">
				<div class="w-full max-w-md bg-white rounded-2xl shadow-xl p-6 border border-zinc-200">
					<h1 class="text-2xl font-bold text-center text-zinc-800 mb-6">
						Yo Mama Joke Generator
					</h1>
					<div id="joke-box" class="invisible"></div>
					<div class="flex justify-center mb-6">
						<button
							class="px-6 py-2 text-white bg-blue-600 hover:bg-blue-700 transition rounded-lg shadow"
							hx-get="/jokes"
							hx-target="#joke-box"
							hx-swap="outerHTML"
						>
							Tell me a joke
						</button>
					</div>
				</div>
			</main>
			@components.Footer()
		</body>
	</html>
}
